body {
  background: black;
}

.console {
  position: absolute;
  right: 0px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow-y: auto;
  background: black;
}

.form-control [tyle=text] {
  position: absolute;
  bottom: 0px;
  width: 295px;
  color: #55516e;
}
